/**
 * Slighty Better Steam
 *
 * Applies to:
 *  - URLs matching the regexp: ^https?://steamcommunity.com/(id|profile)/(.+)/inventory/
 */

.item_scrap_actions {
    display: none;
}

.item_market_actions {
    min-height: 147px;
}

.item_desc_descriptors {
    max-height: 150px;
    overflow: auto;
}

#tabcontent_inventory {
    position: relative;
}
.view_inventory_logo {
	padding-top: 26px;
    margin-bottom: 10px;
}

#tabcontent_inventory .responsive_fixonscroll {
    position: absolute;
    top: 42px;
    left: 300px;
}

.view_inventory_page { 
    padding-bottom: 80px;
}

.view_inventory_page  .item_desc_content {
    background-position-y: -25px;
    padding-top: 196px;
}

.item_desc_icon_center {
    height: 0;
}

.item_desc_icon_center img {
    height: 168px;
}

.btn_disabled {
    opacity: 0.3 !important
}