/**
 * Slighty Better Github
 * Applies to:
 *  - URLs on the domain: github.com
 */

/* Span the file and commit viewer across the whole page */
.container.new-discussion-timeline {
    width: 75%;
}

/* Fix for issues/pullrequests layout
100% of the container - the sidebar - 20px padding */
#discussion_bucket .discussion-timeline {
    width: calc(100% - 220px);
}