/**
 * Slighty Better Github
 * Applies to:
 *  - URLs on the domain: github.com
 */

/* Span the file and commit viewer across the whole page */

@media screen and (min-width: 1500px) {
  .container.new-discussion-timeline {
    width: 65%;
  }

  /* Fix for issues/pullrequests layout */
  #discussion_bucket .discussion-timeline {
    width: calc(100% - 220px); /* 100% of the container - the sidebar - 20px padding */
  }

}

/* I don't remember why I did this */
.commit-indicator {
  display: inline-block;
}
